.nav{
  color: #74b6bb; 
  background-color: #ffff; 
  
}
.bb{

    background-color:rgb(55, 55, 128);
   
    border-radius: 20px;
   color: white;
    font-weight: bold;

}
.navy{
    color: rgb(57, 57, 122) ;
    
}
.switch{
    background-color: #4A84D7;
}
.brand{
    margin-left: -2em;
}

