.nav{
  color: #74b6bb; 
  background-color: #ffff; 
  
}
.bb{

    background-color:rgb(55, 55, 128);
   
    border-radius: 20px;
   color: white;
    font-weight: bold;

}
.navy{
    color: rgb(57, 57, 122) ;
    
}
.switch{
    background-color: #4A84D7;

}
.brand{
    margin-left: -2em;
}
/* .silver{ */
    /* border-left: 2px solid gold ; */
   /*  */
   /*  */
    /*  */
/*  */
    /*  */
/* } */
/* .gold{ */
    /* border-left: 2px solid gold ; */
   /*  */
    /*  */
/* } */
/* .platinum{ */
    /* border-left: 2px solid gold ; */
   
    
/* } */
.empty{
    height: 10vh;
    background-color: rgba(221, 215, 215, 0.87);
    width: 2px;
}